<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/header.css">
    <!-- JavaScript -->
    <script src="/assets/js/header.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
        <header>
            <div class="Rectangle1">
                <a href="/pages/index.html" class="Inicio">INICIO</a>
                <a href="/pages/search.html" class="search-button-header"><span class="material-symbols-outlined">search</span></a>
                <a href="/pages/manga.html" class="Manga">MANGA</a>
                <a href="/pages/anime.html" class="Anime">ANIME</a>
                <a href="/pages/profile.html" class="ProfileCircle" style="background-image: url('/assets/img/profile-placeholder.jpg');"></a>
            </div>
        </header>        
</body>
</html>
