<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/header.css">
</head>
<body>
    <header>
        <div class="Rectangle1">
            <a href="/pages/index.html" class="Inicio">INICIO</a>
            <a href="manga.html" class="Manga">MANGA</a>
            <div class="Frame2">
            <a href="/pages/anime.html" class="Anime">ANIME</a>
            </div>
        </div>
    </header>
</body>
</html>
