<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Momo USA</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <!-- Icono de la página -->
    <link rel="icon" href="/static/icon/icon.ico" type="image/x-icon" />
    <!-- JavaScript -->
    <script src="/static/js/header.js" defer></script>
    <script src="/static/js/footer.js" defer></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="header-container"></div>
    <div class="container">
      <div class="carousel">
        <a href="/manga/kimetsu-no-yaiba.html">
          <img src="/static/img/baner-demon-slayer.png" alt="Demon Slayer" />
        </a>
        <a href="/anime/one-piece.html">
          <img src="/static/img/baner-one-piece.png" alt="One Piece" />
        </a>
        <a href="/anime/my-hero-academia.html">
          <img
            src="/static/img/baner-my-hero-academia.png"
            alt="My Hero Academia"
          />
        </a>
        <!-- Añade más imágenes según sea necesario -->
      </div>
      <div>
        <div class="content">
          <div class="title">
            <p>Animes y Mangas Más Populares</p>
          </div>
          <!-- Fila 1 - Animes -->
          <div class="row anime-list">
            <div class="item">
              <a href="/anime/kimetsu-no-yaiba.html">
                <img
                  src="/static/img/kimetsu-no-yaiba.png"
                  alt="Kimetsu no Yaiba"
                  class="image-item"
                />
                <p class="name">Kimetsu no Yaiba</p>
              </a>
            </div>
            <div class="item">
              <a href="/anime/one-piece.html">
                <img
                  src="/static/img/one-piece.png"
                  alt="One Piece"
                  class="image-item"
                />
                <p class="name">One Piece</p>
              </a>
            </div>
            <div class="item">
              <a href="/anime/kaiju-no-8.html">
                <img
                  src="/static/img/kaiju-no.-8.png"
                  alt="Kaiju No. 8"
                  class="image-item"
                />
                <p class="name">Kaiju No. 8</p>
              </a>
            </div>
            <div class="item">
              <a href="/anime/dragon-ball-z.html">
                <img
                  src="/static/img/dragon-ball-z.png"
                  alt="Dragon Ball Z"
                  class="image-item"
                />
                <p class="name">Dragon Ball Z</p>
              </a>
            </div>
          </div>
          <!-- Fila 2 - Mangas -->
          <div class="row manga-list">
            <div class="item">
              <a href="/manga/kimetsu-no-yaiba.html">
                <img
                  src="/static/img/kimetsu-no-yaiba-manga.png"
                  alt="Kimetsu no Yaiba"
                  class="image-item"
                />
                <p class="name">Kimetsu no Yaiba</p>
              </a>
            </div>
            <div class="item">
              <a href="/manga/dragon-ball-super.html">
                <img
                  src="/static/img/dragon-ball-super-manga.png"
                  alt="Dragon Ball Super"
                  class="image-item"
                />
                <p class="name">Dragon Ball Super</p>
              </a>
            </div>
            <div class="item">
              <a href="/manga/blue-lock.html">
                <img
                  src="/static/img/blue-lock-manga.png"
                  alt="Blue Lock"
                  class="image-item"
                />
                <p class="name">Blue Lock</p>
              </a>
            </div>
            <div class="item">
              <a href="/manga/jujutsu-kaisen.html">
                <img
                  src="/static/img/jujutsu-kaisen-manga.png"
                  alt="Jujutsu Kaisen"
                  class="image-item"
                />
                <p class="name">Jujutsu Kaisen</p>
              </a>
            </div>
          </div>
          <!-- Añade más cuadros según sea necesario -->
        </div>
      </div>
    </div>
    <div id="footer-container"></div>
  </body>
</html>
