<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil de Usuario</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/profile.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <!-- Icono de la página -->
    <link rel="icon" href="/static/icon/icon.ico" type="image/x-icon" />
    <!-- JavaScript -->
    <script src="/static/js/header.js" defer></script>
    <script src="/static/js/footer.js" defer></script>
    <script src="/static/js/profile.js" defer></script>
    <!-- Script para cargar el perfil -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="header-container"></div>
    <div class="container">
      <div class="profile-header">
        <img
          id="profile-pic"
          src="default-profile-pic.jpg"
          alt="Foto de perfil"
          class="profile-pic"
        />
        <h1 class="username">Nombre de Usuario</h1>
      </div>
      <div class="actions">
        <form id="logout-form" action="/logout" method="POST">
          <button type="submit" id="logout">Cerrar sesión</button>
        </form>
        <button
          id="donate"
          onclick="window.open('https://www.paypal.com/donate/?hosted_button_id=BTY9XJDBWQCTU', '_blank')"
        >
          Donar con PayPal <i class="fa-brands fa-paypal"></i>
        </button>
      </div>
    </div>
    <div id="footer-container"></div>
  </body>
</html>
