/* Estilo general del cuerpo */
body {
  font-family: "Poetsen One", sans-serif; /* Fuente del proyecto */
  background-color: #181818; /* Color de fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px;
}

/* Contenedor de inicio de sesión */
.login-container {
  background-color: #2c2c2c; /* Fondo claro en contraste con el fondo oscuro del body */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
  border-radius: 10px; /* Bordes redondeados más grandes */
  width: 300px;
}

/* Título */
h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff; /* Texto blanco para el título */
}

/* Grupo de formulario */
.form-group {
  margin-bottom: 15px;
}

/* Etiquetas de formulario */
label {
  display: block;
  margin-bottom: 5px;
  color: #fff; /* Etiquetas en blanco */
}

/* Entradas de formulario */
input {
  width: 100%;
  padding: 10px; /* Aumentar el relleno */
  box-sizing: border-box;
  border: 1px solid #646464; /* Color de borde más oscuro */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #2c2c2c; /* Fondo de entrada oscuro */
  color: #fff; /* Texto en blanco */
}

/* Botón */
button {
  width: 100%;
  padding: 10px;
  background-color: #ff4757; /* Color rojo vibrante para el botón */
  color: #fff;
  border: 1px solid #e84118; /* Borde rojo oscuro para complementar el fondo */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  font-size: 16px; /* Tamaño de fuente mayor */
  font-weight: bold; /* Fuente en negrita */
  transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

/* Botón al pasar el mouse */
button:hover {
  background-color: #e84118; /* Color de fondo rojo oscuro al pasar el mouse */
  border-color: #ff4757; /* Borde más claro al pasar el mouse */
}

/* Párrafos */
p {
  color: #fff; /* Color blanco para los párrafos */
  text-align: center; /* Alinear el texto al centro */
}

/* Enlaces */
a {
  color: #fff; /* Color blanco para los enlaces */
  text-decoration: none; /* Eliminar la decoración del texto */
}

a:hover {
  text-decoration: underline; /* Subrayar el texto al pasar el mouse */
}

/* Mensaje */
#message {
  margin-top: 15px;
  color: #ff6f6f; /* Color de mensaje en rojo claro */
  text-align: center;
}

.flash-messages {
  margin-bottom: 20px;
}
.flash-message {
  padding: 10px;
  background-color: #f8d7da; /* Fondo rojo claro */
  color: #721c24; /* Texto rojo oscuro */
  border: 1px solid #f5c6cb; /* Borde rojo claro */
  border-radius: 5px;
  margin-bottom: 10px;
}