/* Estilos generales */
body {
    background-color: #181818;
    font-family: 'Poetsen One', sans-serif;
    margin: 0;
    padding: 10px;
}

a {
    text-decoration: none; /* Quitar subrayado */
    color: white; /* Cambiar color del texto */
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
}

.btn:hover {
    background-color: #0056b3;
}

/* Sección de Portada del Manga */
#manga-cover-section {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.manga-cover img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.manga-details {
    color: white;
    margin-top: 10px;
}

.manga-details h1 {
    font-size: 2em;
    margin: 0;
}

.manga-details p {
    font-size: 1.2em;
}

/* Sección de Tomos */
#manga-volumes-section {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
}

#manga-volumes-section h2 {
    color: white;
    margin-top: 0;
}

.volume-list {
    display: flex;
    flex-direction: column;
}

.volume-item {
    background-color: #3c3c3c;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Sección del PDF */
#pdf-viewer-section {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
}

#pdf-viewer {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Ocultar elementos */
.hidden {
    display: none;
}

/* Estilos para pantallas anchas */
@media (min-width: 768px) {
    #manga-cover-section {
        display: flex;
        align-items: flex-start; /* Alinear al inicio del contenedor */
        justify-content: flex-start; /* Alinear los elementos al inicio del contenedor */
        text-align: left; /* Alinear texto a la izquierda */
    }

    .manga-cover {
        flex: 0 0 auto; /* No permitir que la imagen crezca o se encoja */
        margin-right: 20px; /* Espacio entre la imagen y los detalles */
    }

    .manga-cover img {
        max-width: 200px; /* Reducir tamaño de la imagen en pantallas anchas */
        height: auto;
        border-radius: 10px;
    }

    .manga-details {
        flex: 1 1 auto; /* Permitir que los detalles crezcan */
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centrar verticalmente el contenido */
    }

    .manga-details h1 {
        font-size: 2.5em; /* Aumentar tamaño de la fuente */
        margin: 0; /* Eliminar margen superior para alinear el nombre arriba */
    }

    .manga-details p {
        font-size: 1.5em; /* Aumentar tamaño de la fuente */
        margin: 10px 0; /* Reducir el margen entre los elementos */
    }
}