body {
    background-color: #181818;
    font-family: "Poetsen One", sans-serif;
    margin: 0;
    padding: 10px;
}

a {
    text-decoration: none; /* Quitar subrayado */
    color: white; /* Cambiar color del texto */
}

.container {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 2px; /* Espacio entre filas */
}

.carousel {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
    border-radius: 10px;
}

/* Estilo para ocultar la barra de desplazamiento */
.carousel::-webkit-scrollbar {
    display: none;
}

.carousel {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.carousel a {
    flex: 0 0 auto; /* Mantiene el ancho de los elementos hijos */
    scroll-snap-align: center;
}

.carousel img {
    width: 100%;
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
}

.content {
    width: 587px;
    height: 455px;
    margin-left: 10px;
    color: white;
    align-self: flex-start;
    margin-bottom: 5px;
}

.item {
    background-color: #2c2c2c;
    border-radius: 10px;
    overflow: hidden;
    width: 135px; /* Tamaño reducido */
    height: 200px; /* Ajustar altura proporcionalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px; /* Espacio interior reducido */
    box-sizing: border-box;
    margin-bottom: 15px; /* Espacio entre los elementos */
}

.item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.image-item {
    width: 100%;
    height: 150px; /* Tamaño reducido de la imagen */
    object-fit: cover;
    border-radius: 5px; /* Borde redondeado más pequeño */
}

.title {
    margin-right: 10px;
    color: white;
}

.name {
    font-size: 12px; /* Tamaño del texto ajustado */
    margin-top: 5px; /* Espacio entre imagen y título */
}

.Rectangle1 {
    width: 100%;
    height: 60px;
    background-color: #333333; /* Color de fondo */
    border-radius: 10px;
}

@media (max-width: 768px) {
    body {
        background-color: #181818;
        font-family: "Poetsen One", sans-serif;
        margin: 0;
        padding: 10px;
    }
    
    a {
        text-decoration: none; /* Quitar subrayado */
        color: white; /* Cambiar color del texto */
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center; /* Centra los elementos en la vista móvil */
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 2px; /* Espacio entre filas */
        justify-content: center; /* Centra los elementos en la vista móvil */
    }
    
    .carousel {
        display: flex;
        align-items: center;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        white-space: nowrap;
        border-radius: 10px;
        width: 100%; /* Asegura que el carrusel ocupe todo el ancho disponible */
        max-width: 700px; /* Limita el ancho máximo del carrusel */
        margin: auto; /* Centra el carrusel en la vista móvil */
    }
    
    /* Estilo para ocultar la barra de desplazamiento */
    .carousel::-webkit-scrollbar {
        display: none;
    }
    
    .carousel {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
    .carousel a {
        flex: 0 0 auto; /* Mantiene el ancho de los elementos hijos */
    }
    
    .carousel img {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
        max-height: 217.44px; /* Ajusta la altura máxima para evitar que la imagen se agrande demasiado */
        object-fit: cover;
        border-radius: 10px;
    }
    
    .content {
        width: 100%; /* Asegura que el contenido ocupe todo el ancho disponible */
        max-width: 587px; /* Limita el ancho máximo del contenido */
        height: auto; /* Ajusta la altura automáticamente */
        color: white;
        align-self: flex-start;
        margin-bottom: 5px;
        margin: auto;
    }
    
    .item {
        background-color: #2c2c2c;
        border-radius: 10px;
        overflow: hidden;
        width: 150px; /* Tamaño ajustado */
        height: auto; /* Ajustar altura automáticamente */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: center; /* Centra los elementos verticalmente */
        padding: 10px; /* Espacio interior ajustado */
        box-sizing: border-box;
    }
    
    .item a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-align: center;
    }
    
    .image-item {
        width: 100%;
        height: 200px; /* Tamaño ajustado de la imagen */
        object-fit: cover;
        border-radius: 10px; /* Borde redondeado ajustado */
    }
    
    .title {
        color: white;
        font-size: 16px; /* Tamaño del texto ajustado */
        margin: 0; /* Elimina márgenes para centrar correctamente */
    }
    
    .name {
        font-size: 14px; /* Tamaño del texto ajustado */
        margin-top: 10px; /* Espacio entre imagen y título */
        text-align: center; /* Asegura que el texto esté centrado */
    }
}
