/* Contenedor principal */
.Rectangle1 {
    width: 100%;
    height: 50px;
    background: #333333; /* Color de fondo más claro para contrastar con el header */
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px; /* Bordes redondeados */
    padding: 0 10px; /* Espaciado interno para ajustar el contenido */
    box-sizing: border-box; /* Incluye el padding en el ancho total del contenedor */
}

/* Enlace Inicio */
.Inicio {
    padding-left: 20px;
    color: #f0f0f0; /* Color de texto más claro para mejor contraste */
    font-size: 15px;
    margin-right: auto;
    text-decoration: none;
}

/* Enlaces Manga y Anime */
.Manga,
.Anime {
    padding-right: 20px;
    color: #f0f0f0; /* Color de texto más claro para mejor contraste */
    font-size: 15px;
    word-wrap: break-word;
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el círculo del perfil */
.ProfileCircle {
    width: 30px; /* Tamaño del círculo */
    height: 30px; /* Tamaño del círculo */
    border-radius: 50%; /* Círculo */
    background: url('/assets/img/profile-placeholder.jpg') no-repeat center center; /* Imagen de perfil */
    background-size: cover; /* Ajusta la imagen para cubrir el círculo */
    display: inline-block; /* Para que el enlace se comporte como un bloque en línea */
    margin-left: 20px; /* Espaciado a la izquierda para el círculo del perfil */
    text-decoration: none; /* Quitar subrayado */
}
