body {
    background-color: #181818;
    font-family: "Poetsen One", sans-serif;
    margin: 10px;
}

a {
    text-decoration: none; /* Quitar subrayado */
    color: white; /* Cambiar color del texto */
}

.container {
    display: flex;
    align-items: center;
}

.banner {
    border: 1px solid #646464;
    width: 700px;
    height: 400px;
    margin-bottom: 5px;
    border-radius: 10px; /* Bordes redondeados */
}

.devs {
    margin-left: 10px;
    color: white;
    align-self: flex-start;
    margin-bottom: 5px;
}

.dev {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #646464;
    width: 587px;
    height: 80px;
    border-radius: 10px; /* Bordes redondeados */
}

.image-profile {
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
}

.name {
    margin-right: 10px;
}

.des {
    color: white;
    border: 1px solid #646464;
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
    border-radius: 10px; /* Bordes redondeados */
}

.desc {
    margin: 5px;
}

.title-anime {
    text-align: left;
}

.search-bar {
    margin-bottom: 10px;
}

/* Estilo para el campo de entrada de texto */
#searchInput {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px; /* Bordes redondeados */
}

.buscar {
    color: white;
    border: 1px solid #646464;
    background-color: #181818;
    width: 80px;
    height: 41px;
    border-radius: 5px; /* Bordes redondeados */
}

.animes {
    text-align: center;
    color: white;
    align-self: flex-start;
    margin-bottom: 5px;
}

.anime {
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid #646464;
    width: 250px;
    height: 300px;
    border-radius: 10px; /* Bordes redondeados */
}

.anime-image {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 250px;
    border-radius: 10px; /* Bordes redondeados */
}

.temp {
    text-align: center;
    color: white;
    align-self: flex-start;
    margin-bottom: 5px;
}

.caps-container {
    display: flex;
    justify-content: space-between; /* Para distribuir los elementos de manera equitativa */
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan en pantallas pequeñas */
}

.cap {
    position: relative;
    align-items: center;
    border: none; /* Eliminar borde gris */
    width: 250px;
    height: 300px; /* Aumenta la altura para acomodar el texto */
    margin-right: 5px; /* Agregar margen a la derecha de cada elemento */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio adicional en la parte inferior */
}

.cap:last-child {
    margin-right: 0; /* Eliminar el margen del último elemento */
}

.player-container {
    width: 100%;
    height: calc(100% - 40px); /* Reduce la altura disponible para el video */
    padding: 10px; /* Asegura que el video no toque los bordes del contenedor */
}

iframe {
    width: 100%;
    height: 100%;
    border: none; /* Eliminar borde */
    border-radius: 10px; /* Bordes redondeados */
}

.mini-player {
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Bordes redondeados */
}

.title-temp {
    text-align: left;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner {
        width: 100%;
        max-width: 700px;
        height: auto;
        border-radius: 10px; /* Bordes redondeados */
    }

    .dev {
        width: 100%;
        max-width: 620px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px; /* Bordes redondeados */
    }

    .animes {
        margin-left: 10px;
        color: white;
        align-self: flex-start;
        margin-bottom: 5px;
    }

    .anime {
        width: 100%;
        max-width: 620px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px; /* Bordes redondeados */
    }
    
    .image-profile {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 70px;
        height: 70px;
        border-radius: 50%; /* Bordes redondeados */
    }
    
    .name {
        margin-right: 0;
    }

    .desc {
        font-size: 9px;
    }

    .caps-container {
        display: flex;
        flex-wrap: wrap; /* Asegura que los elementos se envuelvan en pantallas pequeñas */
        justify-content: center; /* Centra los elementos */
    }
    
    .cap {
        position: relative;
        align-items: center;
        border: none; /* Eliminar borde gris */
        width: 150px;
        height: 250px; /* Aumenta la altura para acomodar el texto */
        margin-right: 5px; /* Agregar margen a la derecha de cada elemento */
        border-radius: 10px; /* Bordes redondeados */
        margin-bottom: 20px; /* Espacio adicional en la parte inferior */
    }
    
    .cap:last-child {
        margin-right: 0; /* Eliminar el margen del último elemento */
    }
    
    .player-container {
        width: 100%;
        height: calc(100% - 30px); /* Reduce la altura disponible para el video */
        padding: 5px; /* Asegura que el video no toque los bordes del contenedor */
    }
    
    .mini-player {
        width: 100%;
        height: 100%;
        border-radius: 10px; /* Bordes redondeados */
    }
}

@media (max-width: 480px) {
    .dev {
        width: 100%;
        height: auto;
        border-radius: 10px; /* Bordes redondeados */
    }
}
