body {
    background-color: #181818;
    font-family: "Poetsen One", sans-serif;
    margin: 10px;
}

a {
    text-decoration: none; /* Quitar subrayado */
    color: white; /* Cambiar color del texto */
}

.container {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.carousel {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
    animation: scroll 15s linear infinite; /* Anima el carrusel */
    border-radius: 10px;
}

/* Estilo para ocultar la barra de desplazamiento */
.carousel::-webkit-scrollbar {
    display: none;
}

.carousel {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.carousel img {
    flex: 0 0 auto;
    width: 700px;
    height: 565px;
    scroll-snap-align: center;
    object-fit: cover;
    border-radius: 10px;
}

.devs {
    margin-left: 10px;
    color: white;
    align-self: flex-start;
    margin-bottom: 5px;
}

.dev {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 587px;
    height: 80px;
    border-radius: 10px; /* Bordes redondeados */
}

.image-profile {
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
}

.name {
    margin-right: 10px;
}

.title-anime {
    text-align: left;
}

.search-bar {
    margin-bottom: 10px;
}

/* Estilo para el campo de entrada de texto */
#searchInput {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px; /* Bordes redondeados */
}

.buscar {
    color: white;
    background-color: #181818;
    width: 80px;
    height: 41px;
    border-radius: 5px; /* Bordes redondeados */
}

.animes {
    text-align: center;
    color: white;
    align-self: flex-start;
    margin-bottom: 5px;
}

.anime {
    align-items: center;
    margin-bottom: 5px;
    width: 250px;
    height: 300px;
    border-radius: 10px; /* Bordes redondeados */
}

.anime-image {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 250px;
    border-radius: 10px; /* Bordes redondeados */
}

.temp {
    text-align: center;
    color: white;
    align-self: flex-start;
    margin-bottom: 5px;
}

.caps-container {
    display: flex;
    justify-content: space-between; /* Para distribuir los elementos de manera equitativa */
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan en pantallas pequeñas */
}

.cap {
    position: relative;
    align-items: center;
    width: 250px;
    height: 280px;
    margin-right: 5px; /* Agregar margen a la derecha de cada elemento */
    border-radius: 10px; /* Bordes redondeados */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cap:last-child {
    margin-right: 0; /* Eliminar el margen del último elemento */
}

.player-container {
    position: relative;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none; /* Eliminar borde */
    border-radius: 10px; /* Bordes redondeados */
}

.mini-player {
    width: 100%;
    height: 100%;
}

.fullscreen-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #007bff; /* Color de fondo azul */
    color: white;
    border: 1px solid #0056b3; /* Borde azul oscuro */
    padding: 10px 20px;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
    z-index: 1000; /* Asegura que el botón esté sobre el iframe */
}

.fullscreen-button:hover {
    background-color: #0056b3; /* Color de fondo azul oscuro al pasar el mouse */
    border-color: #004494; /* Borde azul más oscuro al pasar el mouse */
}

.title-temp {
    text-align: left;
}

.cap .name {
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

/* Estilo para el botón de cerrar sesión */
#logout {
    background-color: #ff4c4c; /* Rojo llamativo para el botón */
    color: white; /* Texto blanco */
    border: 1px solid #cc0000; /* Borde rojo oscuro */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    cursor: pointer; /* Cursor tipo mano */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
}

#logout:hover {
    background-color: #cc0000; /* Rojo oscuro al pasar el mouse */
    border-color: #990000; /* Borde rojo más oscuro al pasar el mouse */
}

#logout:focus {
    outline: none; /* Quitar el contorno por defecto */
    box-shadow: 0 0 0 2px rgba(255, 76, 76, 0.5); /* Sombra alrededor del botón cuando está en foco */
}

/* Estilo para el botón de donación */
#donate {
    background-color: #007bff; /* Azul claro para el botón */
    color: white; /* Texto blanco */
    border: 1px solid #0056b3; /* Borde azul oscuro */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    cursor: pointer; /* Cursor tipo mano */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
}

#donate:hover {
    background-color: #0056b3; /* Azul oscuro al pasar el mouse */
    border-color: #004494; /* Borde azul más oscuro al pasar el mouse */
}

#donate:focus {
    outline: none; /* Quitar el contorno por defecto */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Sombra alrededor del botón cuando está en foco */
}

.actions {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los botones */
    align-items: center;
    width: 587px;
    height: 100%; /* Rellenar el contenedor completamente */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.actions button {
    flex: 1; /* Hacer que los botones ocupen el mismo espacio */
    margin: 0 5px; /* Espacio entre los botones */
    height: 100%; /* Hacer que los botones rellenen el contenedor */
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .carousel {
        width: 100%;
        max-width: 700px;
        height: 201px;
        border-radius: 10px; /* Bordes redondeados */
    }

    .carousel img {
        width: 100%;
        height: auto; /* Ajusta la altura automáticamente para mantener las proporciones */
    }

    .dev {
        width: 100%;
        max-width: 620px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px; /* Bordes redondeados */
    }

    .animes {
        margin-left: 10px;
        color: white;
        align-self: flex-start;
        margin-bottom: 5px;
    }

    .anime {
        width: 100%;
        max-width: 620px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px; /* Bordes redondeados */
    }
    
    .image-profile {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        width: 70px;
        height: 70px;
        border-radius: 50%; /* Bordes redondeados */
    }
    
    .name {
        margin-right: 0;
    }

    .caps-container {
        display: flex;
        flex-wrap: wrap; /* Asegura que los elementos se envuelvan en pantallas pequeñas */
        justify-content: center; /* Centra los elementos */
    }
    
    .cap {
        position: relative;
        align-items: center;
        width: 150px;
        height: 200px;
        margin-right: 5px; /* Agregar margen a la derecha de cada elemento */
        border-radius: 10px; /* Bordes redondeados */
    }
    
    .cap:last-child {
        margin-right: 0; /* Eliminar el margen del último elemento */
    }
    
    .player-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .mini-player {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 480px) {
    .dev {
        width: 100%;
        height: auto;
        border-radius: 10px; /* Bordes redondeados */
    }

    .actions {
        width: 100%;
        height: auto;
        border-radius: 10px; /* Bordes redondeados */
        display: flex; /* Asegura que los botones se alineen en columna */
        flex-direction: column; /* Disposición en columna */
        align-items: center; /* Centra los botones horizontalmente */
        gap: 10px; /* Espacio entre los botones */
    }

    #logout, #donate {
        width: 100%;
        max-width: 300px; /* Ancho máximo para mantener el diseño proporcional */
        height: 50px; /* Altura uniforme */
        border-radius: 10px; /* Bordes redondeados */
        font-size: 16px; /* Tamaño de fuente uniforme */
        display: block; /* Asegura que los botones se comporten como bloques */
        text-align: center; /* Centra el texto dentro del botón */
    }

    #logout {
        background-color: #ff4c4c; /* Rojo llamativo para el botón */
        color: white; /* Texto blanco */
        border: 1px solid #cc0000; /* Borde rojo oscuro */
    }

    #logout:hover {
        background-color: #cc0000; /* Rojo oscuro al pasar el mouse */
        border-color: #990000; /* Borde rojo más oscuro al pasar el mouse */
    }

    #donate {
        background-color: #007bff; /* Azul claro para el botón */
        color: white; /* Texto blanco */
        border: 1px solid #0056b3; /* Borde azul oscuro */
    }

    #donate:hover {
        background-color: #0056b3; /* Azul oscuro al pasar el mouse */
        border-color: #004494; /* Borde azul más oscuro al pasar el mouse */
    }
}
