<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Momo Usa</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/anime-page.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <!-- JavaScript -->
    <script src="/static/js/header.js" defer></script>
    <script src="/static/js/footer.js" defer></script>
    <script src="/static/js/episodes.js" defer></script>
    <!-- Icono de la página -->
    <link rel="icon" href="/static/icon/icon.ico" type="image/x-icon" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="header-container"></div>

    <!-- Sección de Portada del Anime -->
    <section id="anime-cover-section">
      <div class="anime-cover">
        <img src="/static/img/kimetsu-no-yaiba.png" alt="Portada del Anime" />
      </div>
      <div class="anime-details">
        <h1>Kimetsu no Yaiba</h1>
        <p>
          Kimetsu no Yaiba sigue a Tanjiro Kamado, un joven cuyo
          mundo cambia cuando su familia es asesinada por demonios y su hermana
          Nezuko es convertida en uno de ellos. Decidido a encontrar una cura y
          vengar a su familia, Tanjirou se une al Cuerpo de Exterminio de
          Demonios. La serie destaca por su impresionante animación y la
          profunda conexión entre los personajes mientras luchan contra las
          fuerzas del mal.
        </p>
      </div>
    </section>

    <!-- Sección de Temporadas -->
    <section id="seasons-section">
      <h2>Temporadas</h2>
      <div class="season-list">
        <!-- Ejemplo de temporada -->
        <div class="season-item">
          <h3>Temporada 1</h3>
          <p>Después de que su familia es asesinada por demonios y su hermana Nezuko se convierte en uno de ellos, Tanjiro Kamado se embarca en una peligrosa misión para vengar a su familia y encontrar una cura para su hermana. Entrenado por un cazador de demonios, Tanjiro se une a una organización secreta dedicada a erradicar a los demonios y enfrenta numerosos desafíos mientras lucha contra criaturas sobrenaturales y descubre los secretos de su propia fuerza.          </p>
          <a href="javascript:void(0);" class="btn" onclick="showEpisodes()"
            >Ver Episodios</a
          >
        </div>
      </div>
    </section>

    <!-- Sección de Capítulos -->
    <section id="episodes-section" class="hidden">
      <h2>Capítulos</h2>
      <button class="btn back-to-seasons" onclick="showSeasons()">
        Volver a Temporadas
      </button>
      <div class="episode-list">
        <!-- Ejemplos de capítulos -->
        <div class="episode-item">
          <h3>Capítulo 1: "Crueldad"</h3>
          <p>Tanjiro Kamado vive una vida tranquila como leñador en las montañas, pero su vida cambia drásticamente cuando su familia es atacada y asesinada por demonios. Su hermana Nezuko es la única sobreviviente, aunque se ha convertido en un demonio.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video1')"
            >Ver Capítulo</a
          >
          <div id="video1" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/1-3ZvSzetlfFmOkC4drpn6aZ4ZqMjScG0/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 2: "La espada del entrenador"</h3>
          <p>Tanjiro se encuentra con Giyu Tomioka, un cazador de demonios que le explica la gravedad de la situación y le revela que su hermana Nezuko ha sido transformada en un demonio. Giyu dirige a Tanjiro a buscar ayuda del Cazador de Demonios.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video2')"
            >Ver Capítulo</a
          >
          <div id="video2" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/1-3_n7qJgyirLdzkdqI0icijZ0H-bBVJA/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 3: "Sabito y Makomo"</h3>
          <p>Tanjiro comienza su entrenamiento para convertirse en un cazador de demonios bajo la tutela de Sakonji Urokodaki. Conoce a dos de sus compañeros entrenadores, Sabito y Makomo, quienes le ayudan a mejorar sus habilidades.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video3')"
            >Ver Capítulo</a
          >
          <div id="video3" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11TjXuGP0_pVsb1LDAC1iLGAnVYt-YpUP/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 4: "Selección final"</h3>
          <p>Tanjiro participa en la prueba final para convertirse en un cazador de demonios. Debe sobrevivir en una montaña infestada de demonios para obtener su título y demostrar que tiene lo necesario para enfrentarse a estos seres malignos.          </p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video4')"
            >Ver Capítulo</a
          >
          <div id="video4" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11Z7TdtcEeUcw_XhgO4lTXrXdP7bFq93D/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 5: "Mi propio acero"</h3>
          <p>Tanjiro enfrenta desafíos en la prueba final, donde debe luchar contra un demonio temible. Su determinación y habilidades adquiridas durante el entrenamiento se ponen a prueba mientras busca sobrevivir y proteger a su hermana.          </p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video5')"
            >Ver Capítulo</a
          >
          <div id="video5" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11U2PGT1hyo5q39E_5fuktHCsa2nzAhUK/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 6: "El espadachín que acompaña a un demonio"</h3>
          <p>Tanjiro es oficialmente aceptado como un cazador de demonios y recibe su primera misión. Acompañado por su hermana Nezuko, se dirige hacia una nueva localidad para enfrentar a un demonio que ha estado aterrorizando a los residentes.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video6')"
            >Ver Capítulo</a
          >
          <div id="video6" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11NMa6fKM0KAVxlTmD2kwWGNGeg-fLRc-/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 7: "Muzan Kibutsuji"</h3>
          <p>Tanjiro investiga los incidentes recientes y se encuentra con un misterioso hombre que parece estar relacionado con los demonios. Este encuentro le da una pista sobre el líder de los demonios y el origen de la transformación de Nezuko.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video7')"
            >Ver Capítulo</a
          >
          <div id="video7" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11NLGpsmhD2-7BUQnRqw1mwlAytCvJvND/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 8: "El aroma de la sangre encantadora"</h3>
          <p>Tanjiro y Nezuko encuentran un nuevo demonio en un distrito de la ciudad. Tanjiro se enfrenta a una serie de desafíos mientras intenta proteger a Nezuko y descubrir más sobre el demonio al que se enfrentan.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video8')"
            >Ver Capítulo</a
          >
          <div id="video8" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11Gji1RIiwQ9yeHSnrnSmHcTQ4yw9xhlb/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 9: "Demonio del temari y demonio de la flecha"</h3>
          <p>Tanjiro se enfrenta a dos poderosos demonios en un solo enfrentamiento. Utiliza sus habilidades de combate y estrategias para luchar contra estos enemigos, buscando proteger a aquellos que se encuentran en peligro.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video9')"
            >Ver Capítulo</a
          >
          <div id="video9" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11L9Ny70whpKxh7Jx7h9IjKqpDEUqLRvD/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 10: "Juntos para siempre"</h3>
          <p>La batalla contra los demonios continúa. Tanjiro debe enfrentarse a una serie de obstáculos y peligros mientras trata de salvar a las personas atrapadas en la situación y proteger a su hermana Nezuko.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video10')"
            >Ver Capítulo</a
          >
          <div id="video10" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11HGiPTaPgqZTdDd4MjdYqWLvSWH94AoJ/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 11: "Respirar"</h3>
          <p>Tanjiro aprende más sobre el poder de las técnicas de respiración y cómo utilizarlas de manera efectiva en combate. Enfrenta nuevos desafíos y mejora sus habilidades mientras continúa su viaje.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video11')"
            >Ver Capítulo</a
          >
          <div id="video11" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11Fq66NObAMvbTNZ34C5h4-BsDXI_E84n/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 12: "El portador del jabalí"</h3>
          <p>Tanjiro se encuentra con un nuevo cazador de demonios, Inosuke Hashibira, que tiene una personalidad excéntrica y habilidades de combate únicas. Juntos enfrentan nuevos desafíos y profundizan en sus habilidades.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video12')"
            >Ver Capítulo</a
          >
          <div id="video12" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11awGRkyzBEPjlzvHqJpjlzi_6h1eMibU/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 13: "La reunión de los Hashira"</h3>
          <p>Tanjiro, Nezuko e Inosuke se encuentran con los Hashira, los cazadores de demonios más poderosos. Se llevan a cabo discusiones importantes sobre los demonios y las estrategias para enfrentarlos, mientras los protagonistas aprenden más sobre su misión.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video13')"
            >Ver Capítulo</a
          >
          <div id="video13" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/11BkEDNPqxJkNrxfmSBKaOP5BJDEwuoy0/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 14: "La casa con el escudo de la familia Wisteria"</h3>
          <p>Tanjiro y sus amigos llegan a una casa segura con un emblema familiar especial. Aquí encuentran descanso y tiempo para prepararse para los próximos desafíos mientras aprenden más sobre el mundo de los cazadores de demonios.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video14')"
            >Ver Capítulo</a
          >
          <div id="video14" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/10oW1WstSkeBeEtkURzNq8iA9Ucr8dFvX/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 15: "Monte Natagumo"</h3>
          <p>El equipo se dirige hacia el Monte Natagumo, conocido por ser el hogar de muchos demonios peligrosos. Tanjiro y sus compañeros enfrentan terribles desafíos mientras exploran el monte y luchan por sobrevivir.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video15')"
            >Ver Capítulo</a
          >
          <div id="video15" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/10vN70eSBdyig12UStIujVt2VlZI7GQve/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 16: "La cabeza del jabalí"</h3>
          <p>La lucha contra los demonios en el Monte Natagumo se intensifica. Tanjiro y sus compañeros se enfrentan a enemigos temibles mientras intentan descubrir el origen del mal en el monte.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video16')"
            >Ver Capítulo</a
          >
          <div id="video16" class="video-container hidden">
            <iframe
              src="hhttps://drive.google.com/file/d/11escHzCCGa2C_aXISJbYouoWD3uwVKmt/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 17: "Debes dominar la respiración de concentración total"</h3>
          <p>Los protagonistas deben perfeccionar su técnica de respiración total para enfrentarse a demonios aún más poderosos. La intensidad de la batalla aumenta mientras luchan por protegerse a sí mismos y a los demás.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video17')"
            >Ver Capítulo</a
          >
          <div id="video17" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/10dhRQvHFW6hpInXcKv6D9_-d8jb8KcwT/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 18: "La última misión"</h3>
          <p>La batalla en el Monte Natagumo llega a su clímax. Tanjiro y sus compañeros deben dar lo mejor de sí mismos para superar a los demonios que han estado aterrorizando la zona.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video18')"
            >Ver Capítulo</a
          >
          <div id="video18" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/10ivcE_ll8-USM4nWkMl6Z49-bNMVUNfE/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 19: "Hinokami"</h3>
          <p>Tanjiro descubre y utiliza una nueva técnica de respiración llamada "Hinokami" (Danza del Sol) para enfrentar a los demonios más poderosos. Esta técnica le da una ventaja en la batalla y le ayuda a superar sus desafíos.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video19')"
            >Ver Capítulo</a
          >
          <div id="video19" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/10bTZnfxVlruKozWac_Xa5oOwv-A1DZn4/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 20: "El Hashira del Agua, Giyu Tomioka"</h3>
          <p>Tanjiro se encuentra con el Hashira del Agua, Giyu Tomioka, quien le da orientación y consejos sobre cómo mejorar sus habilidades. También enfrenta nuevos enemigos mientras continúa su viaje.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video20')"
            >Ver Capítulo</a
          >
          <div id="video20" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/10TehnKIojsJyvHpsX6eqjsR0Xl11arfY/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 21: "La reunión de los Hashira"</h3>
          <p>Los Hashira se reúnen para discutir los eventos recientes y las estrategias para enfrentar a los demonios. Tanjiro y sus amigos reciben más información sobre los demonios y las misiones que deben llevar a cabo.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video21')"
            >Ver Capítulo</a
          >
          <div id="video21" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/10ayXLnPrZemD0pZErB_UMq0Sw8oJtGKx/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 22: "La reunión de los Hashira, Parte 2"</h3>
          <p>La reunión de los Hashira continúa y se revelan más detalles sobre los planes y estrategias para enfrentar a los demonios. Tanjiro y sus compañeros deben prepararse para los desafíos que se avecinan.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video22')"
            >Ver Capítulo</a
          >
          <div id="video22" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/103Dwg6GW2x9dXaM27LJJBhXNEOvKSrAi/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 23: "Entrenamiento de los Hashira"</h3>
          <p>Tanjiro y sus compañeros se someten a un riguroso entrenamiento bajo la supervisión de los Hashira. Este entrenamiento les ayuda a perfeccionar sus habilidades y prepararse para las próximas batallas.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video23')"
            >Ver Capítulo</a
          >
          <div id="video23" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/10VBB_Uf9VjgYlz7dHoGWJag4C7NgnwZp/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 24: "Entrenamiento de rehabilitación"</h3>
          <p>Los protagonistas pasan por un período de rehabilitación y entrenamiento intensivo para recuperar su fuerza y habilidades. Este tiempo les permite prepararse para enfrentarse a nuevos desafíos.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video24')"
            >Ver Capítulo</a
          >
          <div id="video24" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/108gMuFbQXJmefqU5iJt4HQYBJCyhwWNc/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 25: "Mansión Tsuzumi"</h3>
          <p>Tanjiro y sus compañeros llegan a la Mansión Tsuzumi, un lugar lleno de trampas y demonios peligrosos. Deben enfrentar estos obstáculos mientras buscan una manera de superar la amenaza que enfrentan.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video25')"
            >Ver Capítulo</a
          >
          <div id="video25" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/1-SDu83rd68uRmaM3l8hsjYKrvineooF5/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 26: "Nueva misión"</h3>
          <p>Después de los eventos en la Mansión Tsuzumi, Tanjiro recibe una nueva misión que lo lleva a enfrentar nuevos desafíos y descubrir más sobre el mundo de los demonios. La temporada concluye con una serie de eventos emocionantes y preparaciones para futuros enfrentamientos.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video26')"
            >Ver Capítulo</a
          >
          <div id="video26" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/101JTc4C41ALIkgswijUAXzy2BS5tQF2U/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
