<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Momo Usa</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/anime-page.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <!-- JavaScript -->
    <script src="/static/js/header.js" defer></script>
    <script src="/static/js/footer.js" defer></script>
    <script src="/static/js/episodes.js" defer></script>
    <!-- Icono de la página -->
    <link rel="icon" href="/static/icon/icon.ico" type="image/x-icon" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="header-container"></div>

    <!-- Sección de Portada del Anime -->
    <section id="anime-cover-section">
      <div class="anime-cover">
        <img src="/static/img/my-hero-academia.png" alt="Portada del Anime" />
      </div>
      <div class="anime-details">
        <h1>My Hero Academia</h1>
        <p>
          My Hero Academia sigue a Izuku Midoriya, un joven sin habilidades
          especiales en un mundo donde casi todos poseen superpoderes conocidos
          como "Quirks". A pesar de no tener un Quirk, sueña con convertirse en
          un héroe. Su vida cambia cuando hereda el poder de All Might, el héroe
          número uno, y se convierte en estudiante de la Academia U.A., donde
          entrenará para convertirse en un héroe profesional mientras enfrenta
          villanos y supera desafíos.
        </p>
      </div>
    </section>

    <!-- Sección de Temporadas -->
    <section id="seasons-section">
      <h2>Temporadas</h2>
      <div class="season-list">
        <!-- Ejemplo de temporada -->
        <div class="season-item">
          <h3>Temporada 1</h3>
          <p>Descripción breve de la Temporada 1.</p>
          <a href="javascript:void(0);" class="btn" onclick="showEpisodes()"
            >Ver Episodios</a
          >
        </div>
      </div>
    </section>

    <!-- Sección de Capítulos -->
    <section id="episodes-section" class="hidden">
      <h2>Capítulos</h2>
      <button class="btn back-to-seasons" onclick="showSeasons()">
        Volver a Temporadas
      </button>
      <div class="episode-list">
        <!-- Ejemplos de capítulos -->
        <div class="episode-item">
          <h3>Capítulo 1</h3>
          <p>Descripción breve del Capítulo 1.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video1')"
            >Ver Capítulo</a
          >
          <div id="video1" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/1-3ZvSzetlfFmOkC4drpn6aZ4ZqMjScG0/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
        <div class="episode-item">
          <h3>Capítulo 2</h3>
          <p>Descripción breve del Capítulo 2.</p>
          <a
            href="javascript:void(0);"
            class="btn"
            onclick="showPlayer('video2')"
            >Ver Capítulo</a
          >
          <div id="video2" class="video-container hidden">
            <iframe
              src="https://drive.google.com/file/d/1-3_n7qJgyirLdzkdqI0icijZ0H-bBVJA/preview"
              allow="autoplay; fullscreen"
              frameborder="0"
            ></iframe>
          </div>
        </div>
      </div>
    </section>

    <div id="footer-container"></div>
  </body>
</html>
